*{
	margin: 0; padding: 0;	box-sizing: border-box;
}
#container{
	width: 1000px;	margin: 0 auto; 
	text-align: center;
	background-color: none;
}
#container>.wrap>div{
	width: 33.3%;	float: left;
}
#container>.wrap>div.box1{
	background-color: none;
}
#container>.wrap>div.box2{
	background-color: orange;
}
#container>.wrap>div.box3{
	background-color: skyblue;
}
#container>.wrap>div.box1 .pic{
	width: 200px;height: 200px;
	border: 2px solid #333;
	border-radius: 50%;
	margin: 30px auto;
	overflow: hidden;
	/*text-align: center;*/
}
#container>.wrap>div.box1 img{
	width: 100%;
}